<h2>follows#index</h2>
<h3>自分がフォローしているユーザー</h3>
<% @followings.each do |following| %>
  <div class="tweet">
    <p><%= following.following.user_name %></p>
  </div>
<% end %>
<%#= @user.user_name %>
<h3>自分をフォローしているユーザー</h3>
<% @followers.each do |follower| %>
  <div class="tweet">
    <p><%= follower.follower.user_name %></p>
  </div>
<% end %>