// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin tweets-page {
  width: 500px;
  margin: 0 auto;
}

.new-tweet {
  @include tweets-page;
  text-align: center;
  margin-bottom: 1em;
  textarea {
    width: 100%;
  }
}

.tweet {
  @include tweets-page;
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid #e6ecf0;
  .user-name {
    font-weight: bold;
  }
  .f-small {
    font-size: 0.8em;
  }
  p {
    margin: 0;
    padding: 0.5em;
  }
}